[submodule "Vendor/LROAuth2Client"]
	path = Vendor/LROAuth2Client
	url = https://github.com/drekka/LROAuth2Client.git
[submodule "Vendor/OAuthConsumer"]
	path = Vendor/OAuthConsumer
	url = https://github.com/colinhumber/oauthconsumer.git
